.container-products {
    max-width: 900px;
    justify-content: left;
    margin: 0 auto;
    margin-top: 50px;

}

.container-products ion-icon {
    font-size: 50px;
    color: #fc6993;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header{
    width: 100%;
    max-width: 800px;
    display:flex;
    justify-content: flex-start;
    border-bottom: 4px solid #d3d3d3;
    margin: 0 auto;
}

.product-title {
    width: 50%;
}

.price {
    width: 60%;
    
    display: flex;
    align-items: right;
}

.product {
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;   
    float: left;
}

.product .close {
    color: #111;
    padding-right: 10px ;
}

.product ion-icon {
    cursor: pointer;

}

.products {
    width: 60%;
    
    flex-direction: row;
    flex-wrap: wrap;
}

.products .nomeProduto{
    margin-left: 10px;
}

.products img {
    width:130px;
    margin-left: auto;
    margin-right: auto;
}

.basketTotalContainer {
    display:flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 15%;   
}

.basketTotal {
    width: 25%;
}

.preço {
        display: flex;
        font-size: 20px;
        padding-left: 300px;
        width: 30%;
        float: right; 
    }

    .products,
    .product-header {
        justify-content: center;
    }

    .basketTotalContainer {
        padding-right: 8%;
    }

.Pagamento {
    max-width: 300px;
    justify-content: left;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    
}
.Pagamento .Finalizar {
    color: #fff;
    font-size: 16px;
    background: #fc6963;
    height: 40px;
    width: 200px;
    border: 0;
    border-radius: 5px;
}

.Pagamento .Finalizar:active{
    background-color: #702e2b;
}