.Card {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid;
    margin: 10px;
    background: #ffffff;
    border-color: #ffffff;

    display: flex;
    flex-direction: column;
    min-width: 260px;
    max-width: 260px;
}

.Home :hover{
    border-color: #ffffff;

    color: #fc6963;
}

.Home .Card .Conteudo .Img :hover{
    filter: blur(5px);
}

.Card .Produto{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Conteudo{
    color: #000000;
    padding: 5px;
    
    display: flex;
}

.Card .Conteudo .Img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 150px;
}

.Card .Infos {
    text-align: center;
}

.Card .BtComprar {
    
    color: #fff;
    font-size: 16px;
    background: #fc6963;
    height: 30px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

.Card .BtComprar:active{
    background-color: #702e2b;
}