@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');

.Menu .Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Logo {
    width: 100px;
    padding: 0;
}